/* Small Mobile Double Column Grid*/
/* *************************************** */
@media only screen and (min-width: 601px) {
  /* Main Navigation */
  #main-nav .container {
    grid-template-columns: auto 1fr auto;
  }

  #main-nav .social {
    display: block;
    width: 100%;
    padding-top: 0;
    text-align: center;
    font-size: 2rem;
  }

  #main-nav .social a {
    margin: 0 0.35rem;
  }

  #main-nav .social i {
    color: var(--dark-color);
  }

  #main-nav .social i:hover {
    color: var(--primary-color);
  }

  /* Showcase */
  #showcase .showcase-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Home Articles */
  #home-articles .articles-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Footer */
  #main-footer .container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.5rem;
  }

  #main-footer .container > :last-child {
    grid-column: 1 / 5;
  }

  #main-footer .container > :last-child p {
    margin-bottom: 0;
  }

  /* About Page */
  #about .grid-container {
    grid-template-columns: 5fr 2fr;
    /* grid-template-rows: repeat(3, 1fr); */
  }

  #about .grid-container > :first-child {
    grid-row: 1 / 4;
  }
}

@media only screen and (min-width: 768px) {
  /* Home Articles */
  #home-articles .articles-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #home-articles .articles-container > :first-child,
  #home-articles .articles-container > :last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }

  #home-articles .articles-container > :first-child {
    grid-column: 1 / span 2;
  }
  #home-articles .articles-container > :last-child {
    grid-column: 2 / span 2;
  }
}

/* Tablet & Desktot */
/* *************************************** */
/* @media only screen and (min-width: 892px) { */
@media only screen and (min-width: 892px) {
  #main-nav .container {
    grid-template-columns: auto 1fr auto;
  }

  #main-nav .social {
    text-align: right;
  }

  #main-nav .menu {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* 
			this is just to reset back to normal line 31 main style.css
     	and cover only 1 space on the grid 
		*/
    grid-column: span 1;
  }

  #main-nav .menu li {
    margin-left: 2rem;
    padding: 0;
    font-size: 1rem;
  }

  #main-nav .menu li:last-child {
    display: block;
  }

  #main-nav .menu li:not(:last-child) a {
    padding: 0 0.3rem 0.2rem;
  }

  #main-nav .menu li:not(:last-child) a.current,
  #main-nav .menu li:not(:last-child) a:hover {
    border-bottom: 4px solid var(--primary-color);
  }

  .no-mobile {
    display: block;
  }

  /* Hamburger Menu */
  .hamburger-menu {
    display: none;
  }
}
