/*** Nav Section ***/
/* *************************************** */
#main-nav {
  background: var(--white);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

#main-nav .container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-columns: auto; */
  align-items: center;
}

#main-nav .logo {
  width: 180px;
}

#main-nav .social {
  display: none;
}

/* Burger Menu */
/* *************************************** */
#menu-toggle {
  display: none;
}

.hamburger-menu {
  justify-self: end;
}
.hamburger-menu .menu-btn-container {
  display: block;
  position: relative;
  width: 30px;
  height: 26px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hamburger-menu .menu-btn-container .menu-btn {
  position: relative;
  height: 4px;
  background: var(--black);
}

.hamburger-menu .menu-btn-container .menu-btn:before,
.hamburger-menu .menu-btn-container .menu-btn:after {
  content: '';
  position: absolute;
  top: -10px;
  width: 100%;
  height: 100%;
  background: inherit;
}
.hamburger-menu .menu-btn-container .menu-btn:after {
  top: 10px;
}

/* Mobile Menu */
/* *************************************** */
#main-nav .menu {
  display: none;
  grid-column: span 3;
  width: 100%;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}

#main-nav .menu li {
  padding: 2rem;
  font-size: 1.4rem;
}

#main-nav .menu li:last-child {
  display: none;
}

#menu-toggle:checked ~ .menu {
  display: block;
}

/*** Showcase ***/
/* *************************************** */
#showcase {
  position: relative;
  padding: 2rem 0;
  color: var(--white);
  background: var(--dark-color);
}

#showcase::before {
  content: '';
  background: url(../images/featured.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

#showcase .showcase-container {
  display: grid;
  place-items: center;
  height: 60vh;
  padding: 0 1rem;
}

#showcase .showcase-content {
  z-index: 2;
}

#showcase .showcase-content p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

/*** Home Articles ***/
/* *************************************** */
#home-articles .articles-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

#home-articles h2 {
  padding: 0 0 1rem;
}

/*** Footer ***/
/* *************************************** */
#main-footer {
  background: var(--dark-color);
}

#main-footer,
#main-footer a {
  color: var(--white);
}

#main-footer .container {
  display: grid;
  grid-gap: 1.5rem;
}

#main-footer img {
  width: 150px;
}

/* Footer News-Letter Signup */
#main-footer form {
  display: flex;
  flex-direction: column;
}

#main-footer input[type='email'] {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

/* Footer Site Links */
#main-footer .site-links ul {
  text-transform: capitalize;
  margin: 1rem 0;
}

#main-footer .site-links li {
  padding: 0.5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}

/* Footer Copyrights */
#main-footer .copy-right {
  text-align: center;
}

#main-footer .copy-right p {
  text-transform: capitalize;
}
